<li>
  <div class="row">
    <div class="col-xs-3">
      <div class="avatar">
      	<%= image_tag user.image, class: "img-circle img-no-padding img-responsive",  alt: "user Image" %>
      </div>
    </div>
    <div class="col-xs-6">
      <%= user.first_name %> <%= user.last_name %>
    </div>
    <div class="col-xs-3 text-right">
      <btn class="btn btn-sm btn-azure btn-icon"><i class="fa fa-user-plus"></i>
      se
      </btn>
    </div>
  </div>
</li>