<p>
  <strong>Text:</strong>
  <%= @feed.text %>
</p>
 
<p>
  <strong>Image:</strong>
  <%=image_tag @feed.image%>
</p>

<p>
  <strong>Permission:</strong>
  <%= @feed.permission %>
</p>


<p>
  <strong>Description:</strong>
  <%= @feed.desc %>
</p>


<h1>show page</h1>




